<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>

    <add name="OracleCon" connectionString="Data Source=AIBPROD;Persist Security Info=True;User ID=fcxprod;Password=password;Unicode=True"
 providerName="System.Data.OracleClient" />

  </connectionStrings>

  <appSettings>
    <!--timer values-->
    <add key ="Interval" value ="10000"/>
   <!--email values-->
    <add key="Host" value="192.0.0.4" />
    <add key="FromEmail" value="alerts@bankaib.com" />
    <add key="Pass" value="Aib@123$" />
    
    <!--file RW values-->
    
    <!--
    <add key="ProccedPath" value="\\192.168.201.6\Telex\Processed\" />
    <add key="TelexPath" value="\\192.168.201.6\Telex\" />
    <add key="DupPath" value="\\192.168.201.6\Telex\Processed\duplicate\" />
    <add key="logPath" value="\\192.168.201.6\Telex\logs\LogFile.txt" />
    <add key="pdfPath" value="\\192.168.201.6\Telex\pdf\" />
    <add key="imgPath" value="\\192.168.201.6\Telex\img\logo.png" />
    <add key="imgPath2" value="\\192.168.201.6\Telex\img\white.png" />
    -->


    <add key="ProccedPath" value="D:\EMS\Telex\Processed\" />
    <add key="TelexPath" value="D:\EMS\Telex\" />
    <add key="DupPath" value="D:\EMS\Telex\Processed\duplicate\" />
    <add key="logPath" value="D:\EMS\Telex\logs\LogFile.txt" />
    <add key="pdfPath" value="D:\EMS\Telex\pdf\" />
    <add key="imgPath" value="D:\EMS\Telex\img\logo.png" />
    <add key="imgPath2" value="D:\EMS\Telex\img\white.png" />





  </appSettings>

</configuration>